body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #006847;
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 20px;
    text-align: center;
}

th {
    background-color: #006847;
    color: #fcbf49;
}

tr:nth-child(even) {
    background-color: #e8f5e9;
}
